.full-form {
  text-align: center;
  height: 400px;
  width: 400px;
  border-color: black;
  border-style: solid;
  border-width: 2px;
  border-radius: 10px;
  margin-top: 40px;
  top: 10%;
  left: 25%;
  position: absolute;
}

.password-validate{
    font-size: x-small;
    position: fixed;
        margin-left: 170px;
}
.notice {
  margin-top: 90px;
  font-size: x-small;
  margin-left: 455px;
}

.label-and-input {
  display: inline-block;
  margin-top: 20px;
}

.input-box {
  width: 240px;
  border-radius: 3px;
  height: 21px;
}

.submit-button {
  margin-top: 20px;
  height: 40px;
  width: 200px;
  background-color: greenyellow;
  border-radius: 10px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}